<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395702091895-dco0enni471hvf3f7vqgk68nbar2npst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395702091895-dco0enni471hvf3f7vqgk68nbar2npst</string>
	<key>API_KEY</key>
	<string>AIzaSyBD-kupW9pnVicuxUaCDQMU76D6RUJMIkA</string>
	<key>GCM_SENDER_ID</key>
	<string>395702091895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-67b0a</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-67b0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395702091895:ios:95de2df64b3c5142e34672</string>
</dict>
</plist>